<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
{% load static %}
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Vishwas</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img_4.png' %}">
    <link rel="icon" type="{% static 'image/png' %}" sizes="32x32" href="{% static 'img_4.png' %}">
    <link rel="icon" type="{% static 'image/png' %}" sizes="16x16" href="{% static 'img_4.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

</head>

<body id="top">


    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header 
        ================================================== -->
        <header class="s-header">

            <div class="header-mobile">
                <span class="mobile-home-link"><a href="{% static 'index.html' %}">Vishwas.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="javascript:void(0);" onclick="topFunction()" class="smoothscroll">Vishwas.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Works</a></li>
                        <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->


        <!-- ## main content
        ==================================================- -->
        <main class="s-content">


            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            Hello World
                        </div>

                        <h1 class="text-huge-title">
                            I am Vishwas, <br>
                            an aspiring backend <br>
                            developer with a keen <br>
                            interest in the Django <br>
                            framework.
                        </h1>
                    </div>


                    <ul class="intro-social">
                        <li><a href="https://github.com/vishwas382">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/vishwas-bhangare-b0a318346" target="_blank">Linkedin</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/></svg>
                </a>

            </section> <!-- end s-intro -->


            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block">
                        <img src="{% static ' img.png' %}"
                             srcset="{% static 'img.png' %} 1x, {% static 'img.png' %} 2x" alt="" class="about-info__pic" data-animate-el>
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text" >

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
                                Hello, I'm Vishwas Bhangare from Pune, Maharashtra. I am pursuing my post-graduation in the field of MCA through Progressive Education Society's Modern College of Engineering, Pune, under Pune University. I am a passionate Python/Django developer with a drive to build innovative solutions. During my project work, I developed a strong interest in backend development using Python and Django. This experience motivated me to dive deeper into the field, exploring the latest technologies and best practices.
                            </p>
                            <a href="{{resume}}" class="btn btn--medium u-fullwidth" data-animate-el>Download Resume</a>

                        </div>
                    </div>
                </div> <!-- about-info -->


                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Expertise</h2>

                        <ul class="skills-list h1" data-animate-el>
                            <li>Backend Developer</li>
                            <li>Web Developer</li>
                            <li>Data Analytics</li>
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->


                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Certifications
                        </h2>

                        <div class="timeline" data-animate-el>

                            {% for i in documents %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <!-- Make the name clickable with a link -->
                                    <h3 class="timeline__title">
                                        <a href="{{i.link}}" target="_blank" class="timeline__link">{{i.name}}</a>
                                    </h3>
                                    <p class="timeline__timeframe">
                                        <a href="{{i.link}}" target="_blank" class="timeline__link">{{i.provider}}</a>
                                    </p>
                                </div>
                            </div>

                            {% endfor %}

                        </div> <!-- end timeline -->

                    </div> <!-- end Certifications -->


                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h3 class="timeline__title">Savitribai Phule University</h3>
                                    <h5 class="timeline__meta">Master's in Computer Application</h5>
                                    <p class="timeline__timeframe">2023 - 2025</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h3 class="timeline__title">Shivaji Univesity, Kolhapur</h3>
                                    <h5 class="timeline__meta">Bachelor's in Computer Application</h5>
                                    <p class="timeline__timeframe">2020 - 2023</p>
                                </div>
                            </div>

                        </div> <!-- end timeline -->
                        
                    </div> <!-- end Qualifications -->


                </div> <!-- end about-timelines -->

            </section> <!-- end s-about -->


            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Recent Works
                        </h2>
                        <p class="h1" data-animate-el>
                            Here are some of my favorite projects I have done lately. Feel free to check them out.
                        </p>
    
                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            {% for i in projects %}
                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-01">
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            {{i.type}}
                                        </div>
                                        <div class="folio-list__item-title">
                                            {{i.title}}
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->
                            {% endfor %}

                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->


                    <!-- Modal Templates Popup
                    -------------------------------------------- -->
                    <div id="modal-01" hidden>
                        {% for i in projects %}
                        <div class="modal-popup">
                            <img src="{% static 'images/portfolio/gallery/g-fuji.jpg' %}" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>{{i.title}}</h5>
                                <p>{{i.description}}</p>
                                <ul class="modal-popup__cat">
                                    <li>{{i.type}}</li>
                                </ul>
                            </div>
                
                            <a href="{{i.link}}" class="modal-popup__details">Project link</a>
                        </div>
                        {% endfor %}
                    </div> <!-- end modal -->

                </div> <!-- end works-portfolio -->

            </section> <!-- end s-works -->


            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">

                <div class="row contact-top">
                    <div class="column lg-12">
                        <h2 class="text-pretitle">
                            Get In Touch
                        </h2>

                        <p class="h1">
                            I love to hear from you.
                            Whether you have a question or just 
                            want to chat about design, tech & art — shoot me a message.
                        </p>
                    </div>
                </div> <!-- end contact-top -->

                <div class="row contact-bottom">
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Reach me at</h3>
                        <p class="contact-links">
                            <a href="https://mail.google.com/mail/?view=cm&to=vishwas.bhangare02@gmail.com&su=Hello Vishwas&body=I would like to connect with you." target="_blank"> vishwas.bhangare02@gmail.com </a> <br>
                            <!-- WhatsApp Icon (Redirects to WhatsApp) -->
                            <a href="https://wa.me/919404202706?text=Hello%20Vishwas" target="_blank">
                                <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" width="25" height="25   ">
                            </a>
                            <!-- Clickable Phone Number (Opens Phone or Truecaller App) -->
                            <a href="tel:+919404202706">+91 94042 02706</a>

                        </p>
                    </div>
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Social</h3>
                        <ul class="contact-social">
                            <li><a href="https://www.linkedin.com/in/vishwas-bhangare-b0a318346" target="_blank">Linkedin</a></li>
                            <li><a href="https://github.com/vishwas382">Github</a></li>
                        </ul>
                    </div>
                    <div class="column lg-4 md-12 contact-block">
                        <a href="https://mail.google.com/mail/?view=cm&to=vishwas.bhangare02@gmail.com&su=Hello Vishwas" target="_blank" class="btn">Say Hello.</a>
                    </div>
                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->


        <!-- ## footer
        ================================================== -->
        <footer class="s-footer">

            <div class="row">
                <div class="column ss-copyright">
                    <span>© Copyright Vishwas 2025</span>
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/></svg>
                    </a>
                </div>
            </div>

        </footer> <!-- end s-footer -->

    </div> <!-- end -s-pagewrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
       // When the user scrolls down 20px from the top of the document, show the button
       window.onscroll = function() {scrollFunction()};
       function scrollFunction() {
       if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
       document.querySelector("button").style.display = "block";
       } else {
       document.querySelector("button").style.display = "none";
       }
       }

       // When the user clicks on the button, scroll to the top of the document
       function topFunction() {
       document.body.scrollTop = 0; // For Safari
       document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
       }
    </script>

</body>
</html>